<h1> Lavanya Mittal! </h1>
<h2> hiiiiiiiiiii! </h2>
<img src='/assets/duck.jpg'>
<h3 class='from'> San Diego </h3>
<h3> Sophomore </h3>
<p class='fact'> I am addicted to hiking and exploring! </p>
<p class='excited'> I am excited to try out new things with my CS knowledge and explore! </p>
